* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	margin-left: 0px !important;
}

body {
	background-color: white;
	font-family: 'Saira', Arial, Helvetica, sans-serif;
}

.btn-consulta{
	font-size: 15px;
	border: solid;
	border-color:black;
	background-color: #75ddba; 
	color: black; 
	width:94px; 
	height:38px;  
	border-radius: 30px;
	position: fixed;
	margin-top: 23%;
	left: 20%;
	padding: 8px;
}

.btn2{
	left: 28% !important;
}
.btn1{
	padding-left: 23px;
}

.table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

.tables{
	float: left;
	margin-left: 90px;
	margin-top: 2%;
	font-size: larger;
}

table#alter tr.dif td {
	background: rgb(240, 237, 237) ; /* Linhas com fundo cinza */
}
.content{
	position: relative;
	left: 22%;
}

.text-box{
	font-size: large;
}
.hora{
	position: fixed;
	margin-top: 15%;
	left: 59%;
}
.tipo{
	position: fixed;
	margin-top: 15%;
	left: 65.2%;
}
.valor{
	position: fixed;
	margin-top: 15%;
	left: 79.2%;
}
.nome{
	position: fixed;
	margin-top: 19%;
	left: 59%;
}
.convenio{
	position: fixed;
	margin-top: 19%;
	left: 79.3%;
}
.status{
	position: fixed;
	margin-top: 23%;
	left: 59%;
}
.chegada{
	position: fixed;
	margin-top: 23%;
	left: 69.5%;
}
.atendido{
	position: fixed;
	margin-top: 23%;
	left: 78%;
}
.notas{
	position: fixed;
	margin-top: 27%;
	left: 59%;
}
.btn-create{
	position: fixed;
	margin-top: 32%;
	left: 59%;
}
.btn-novo{
	position: fixed;
	margin-top: 32%;
	left: 66%;
}
.btn-save{
	position: fixed;
	margin-top: 22%;
	left: 20%;
}


.hora2{
	position: absolute;
	margin-top: 5%;
	left: 20%;
}
.tipo2{
	position: absolute;
	margin-top: 5%;
	left: 26.2%;
}
.valor2{
	position: absolute;
	margin-top: 5%;
	left: 40.2%;
}
.nome2{
	position: absolute;
	margin-top: 9%;
	left: 20%;
}
.convenio2{
	position: absolute;
	margin-top: 9%;
	left: 40.3%;
}
.status2{
	position: absolute;
	margin-top: 13%;
	left: 20%;
}
.chegada2{
	position: absolute;
	margin-top: 13%;
	left: 30.5%;
}
.atendido2{
	position: absolute;
	margin-top: 13%;
	left: 39%;
}
.notas2{
	position: absolute;
	margin-top: 17%;
	left: 20%;
}


/* CALENDARIO*/

.date-picker {
	position: fixed;
	width: 100%;
	max-width: 235px;
	height: 28px;
	background-color:#75ddba;
	margin: 36px auto;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	left: 900px;
	top: 110px;
	cursor: pointer;
	user-select: none;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #020202; 
	font-size: 20px;
}

.date-picker .dates {
	position: absolute;
	top: 100%; /*tira a parte onde mostra a data*/
	right: 0;
	left: 0;
	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #75ddba;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 120px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
	background-color: #75ddba;
}    

.imprime-label{
	float: left;
}