* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
}

.wrapper{
    margin-left: 600px;
    width: 500px;
}

/* busca */
.opcao{
    margin: 10px;
    position: absolute;
    width: 400px;
    height: 56px;
    left: 25px;
    top: 210px;
    
    font-family: roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 56px;
    
    color: #000000;
}
  
.texto{
    position: relative;
    bottom: 8px;
}
  
.menu_select{
    position: relative;
    font-family: roboto;
    font-size: 20px;
    right: 560px;
    top: 60px;
}
  
.resultado-pesquisa{
    position: absolute;
    font-family: Roboto;
    padding: 400px 400px;
    font-size: 23px;
    top: 188px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
  
.select{
    padding: 16px 368px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    font-family: Roboto;
}
  
.submit{
    position: relative;
    font-family: Roboto;
    padding: 2px 12px;
    left: 20px;
    bottom: -9px;
    background-color: white;
}
  
.submit:hover{
    background-color: #75ddba;
}
  
.resultado-pesquisa ul li{
    position: relative;
    bottom: 600px;
    right: 390px;
    font-size: 23px;
}
  
.form{
    display: flex;
    flex-direction: column;
    border-color: black;
}
  
.field{
    position: relative;
    padding: 17px;
    bottom: -40px;
    margin-right: 174px;
    border: 1px solid black;
    border-radius: 4px;
}
  
.enviar{
    position: relative;
    width: 60px;
    left: 740px;
    top: -10px;
    height: 50px;
}

.pesquisar{
    position: relative;
    width: 900px;
}

/* fim busca */
  
.logout_btn{
    float: right;
    margin-right: 50px;
    font-size: 20px;
    margin-top: 30px;
    color: #77E1BB;
    border: solid;
    border-radius: 20px;
    border-color: #77E1BB;
    padding: 10px;
}

.engloba {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 'AS MH' 'AS CT';
    height: 100vh;
}

.aside {
    display: flex;
    grid-area: AS;
    border-right: 1px solid #77E1BB;

}

.aside .logo{
    height: 130px;
    margin-left: -18px;
}

.aside .menu ul a {
    color: black;
    display: flex;
    margin-top: 28px;
    margin-left: 40px;
    width: 120px;
    padding: 5px;
}

.aside .menu ul a:hover {
    text-decoration: none;
    border: 1px solid #77E1BB;
    border-radius: 5px;
}

.main-header {
    background-color: white;
}

.content {
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-area: CT;
}

.info{
    font-size: 30px;
    margin-left: 15px;
}

.cadastro{
    margin-left: -20px;
    width: 1000px;
}
